<% content_for(:head) do %>
	<!--  This will be inside the head -->
	<style>
	h1 { color: blue; }
	</style>
<% end %>
<h1>Lenny's blog</h1>

<% @posts.each do |post| %>
    <h2><%= post.name %></h2>
    <p><i>By ><%= post.title %> 
	on  <%= lenny_date post.created_at %></i></p>
    <p><%= post.content %></p>
    <p><%= post.misc %>
    <%= link_to 'Show', post %>
    <%= link_to 'Edit', edit_post_path(post) %></p>
    <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></p>
<% end %>

<br />

<%= link_to 'New Post', new_post_path %>
